<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title | default: site.title }}</title>
    <meta name="description" content="{{ site.description }}">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">

    <!-- Google Analytics (GA4) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-0GPW9JTXQE"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-0GPW9JTXQE');
    </script>
  </head>

  <body>
    <div class="container">
      {{ content }}
    </div>
  </body>
</html>

